* {
	box-sizing: border-box;
}

body {
	background: #111;
}

.background {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin: auto;
	margin-top: 2vh;
	height: 500px;
	width: 500px;
	background-color: #1d1d1d;
	border-radius: 2vh;
	position: relative;
}

.square {
	width: 22px;
	height: 22px;
	margin: 2px;
	box-shadow: 0 0 2px #000;
	background-color: #2b2b2b;
	transition: 2s;
}

.square:hover {
	transition-duration: 0s;
}
